body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f3da75; /* Fond jaune pour tout le corps de la page */
}
.navbar {
  position: fixed; /* Fixe la barre de navigation */
  top: 0; /* La positionne tout en haut de l'écran */
  left: 0; /* S'étend depuis le bord gauche de l'écran */
  width: 100%; /* Assure qu'elle s'étend sur toute la largeur de l'écran */
  background-color: #000; /* Couleur de fond (ajustez selon votre design) */
  z-index: 1000; /* S'assure qu'elle reste au-dessus des autres éléments */
  /* ... Autres styles de la barre de navigation ... */
}

.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  transition: color 0.3s ease-in-out, background-color 0.3 ease-in-out;
}

.navbar a:hover {
  background-color: #f3da75;
  color: #000;
}
/* ... Styles existants pour la barre de navigation ... */

.contact-section {
  background-color: black; /* Fond noir pour la section de contact */
  color: #ffcc00; /* Texte en jaune */
  width: 50%; /* Ajustez la largeur selon vos besoins */
  margin: 100px auto; /* Augmente la marge supérieure pour baisser la section */
  padding: 20px;
  border-radius: 10px; /* Bords arrondis */
  box-shadow: 0px 0px 10px 3px #ffcc00; /* Ombre portée pour plus de style */
  text-align: center;
  text-decoration: none;
}
.contact-section a:hover {
  text-decoration: underline; /* Optionnel : ajoute un soulignement au survol pour indiquer qu'il s'agit d'un lien */
}
.contact-section h2,
.contact-section ul {
  padding: 15px;
  margin-bottom: 20px;
}

.contact-section ul {
  list-style: none; /* Retire les puces de la liste */
  padding: 0;
}

.contact-section li {
  margin-bottom: 10px;
}

/* ... Autres styles ... */
